<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ESS_POO_Folha/src/com/fat7/poo/ess/q2/Payroll.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.fat7.poo.ess.q2.Payroll"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ESS_POO_Folha"/>
</launchConfiguration>
